@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    background: black;
    padding: 0;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    color: white;
}

.salute{
    margin-top: 10%;
    margin-bottom: 10%;

    .container{

        .salutare{

            .salutare-background{
                background: #fff;

                width: 500px;
                height: 100px;

                border: 10px #fff;
                border-top-style: solid;
                border-right-style: solid;
                border-bottom-style: solid;
                border-left-style: none;

                border-radius: 0px 25px 25px 0px;

                p{
                    color: black;
                    padding-left: 20%;
                }

            }

            .salutare-background:hover{
                background: black;
                background-color: black;
            }


        }
    }
}

.button{
    text-decoration: none;
}

.left{
    position: fixed;
    height: 100%;
    width: 40%;

    // for developing purposes only
    // border: 1px solid green;

    .salute{
        background: #fff;
        width: 80%;
        height: 15%;
        border-radius: 0px 25px 25px 0px;
    }
}

.right{
    position: fixed;
    top: 0%;
    left: 40%;
    height: 100%;
    width: 60%;

    // for developing purposes only
    // border: 1px solid yellow;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }

    .left{
        position: fixed;
        height: 30%;
        width: 100%;

        // for developing purposes only
        // border: 1px solid green;
    
        .salute{
            background: #fff;
            width: 80%;
            height: 30%;
            border-radius: 0px 25px 25px 0px;
        }
    }

    .right{
        position: fixed;
        top: 30%;
        left: 0%;

        height: 70%;
        width: 100%;

        // for developing purposes only
        // border: 1px solid yellow;
    }

  }