@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
body {
  background: black;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  color: white;
}

.navbar {
  background: black;
  padding: 1em;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .container .logo {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 3em;
}

.navbar .container .logo span {
  color: blueviolet;
}

.navbar .container .menuicon {
  cursor: pointer;
  padding-top: .9em;
}

.navbar .container .menuicon .menubar {
  background: blueviolet;
  width: 2em;
  height: .4em;
  margin: .3em;
}

.navbar .container nav {
  display: none;
}

section {
  padding: 1em 3em 1em 3em;
}

.intro .container .photo-of-me img {
  width: 100%;
  border: .5em solid blueviolet;
  border-radius: 5em;
  margin-left: auto;
  margin-right: auto;
}

.intro .container .my-quote {
  width: 100%;
  margin: 0px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.intro .container .my-quote .block1 {
  padding-top: 1.5em;
}

.intro .container .my-quote .block1 h1 {
  font-size: 1.5em;
}

.about-me {
  background: #140606;
  padding-bottom: 4em;
}

.about-me .denzel {
  margin-top: 5em;
  text-align: center;
}

.about-me .denzel img {
  width: 100%;
  border-radius: 5em;
  margin-left: auto;
  margin-right: auto;
}

.about-me .denzel p {
  font-size: 1.3em;
}

.education {
  background: #1f153a;
  padding-bottom: 4em;
}

.education img {
  width: 100%;
  border-radius: 5em;
  margin-left: auto;
  margin-right: auto;
}

.education .container h1 {
  font-size: 3em;
  margin: 0;
}

.education .container .uom {
  margin-top: 4em;
  text-align: center;
}

ul {
  list-style-type: none;
}

.skills {
  background: #101025;
  padding-top: .1em;
}

.skills h1 {
  font-size: 4em;
}

.skills .graph p {
  padding-top: .8em;
}

.software {
  background: #faad07;
  color: brown;
}

.software .container .data-structure {
  width: 100%;
  margin: 0px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.software .container .data-structure button {
  background: rebeccapurple;
  border: .5em solid blueviolet;
  border-radius: 1em;
  color: white;
}

.spokenlang {
  background: #2e9c65;
}

.spokenlang .container .languages .language {
  margin-bottom: 1em;
}

.spokenlang .container .languages .language .bar {
  background: gray;
  width: 100%;
  height: .4em;
  margin: 0;
}

.spokenlang .container .languages .language .bar .progressbar1 {
  background: red;
  width: 100%;
  height: .4em;
  margin: 0;
}

.spokenlang .container .languages .language .bar .progressbar2 {
  background: yellow;
  width: 90%;
  height: .4em;
  margin: 0;
}

.spokenlang .container .languages .language .bar .progressbar3 {
  background: blue;
  width: 10%;
  height: .4em;
  margin: 0;
}

.hobbiessection {
  background: #240fe0;
}
/*# sourceMappingURL=master.css.map */