@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

$background-color: black;
$test-background-color: lightblue;
$main-button-padding: 1%;

body {
    background: $background-color;
    padding: 0;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    color: white;
}

// .button{
//     text-decoration: none;
// }

.left{
    position: fixed;
    height: 100%;
    width: 40%;
    color: black;

    // for developing purposes only
    border: 1px solid green;
    .empty{
        height: 15%;
    }

    .salute{
        width: 80%;
        height: 20%;
        background-color: white;
        border-radius: 0px 25px 25px 0px;
        padding-left: 10%;

        display: table;

        .text{
            display: table-cell;
            vertical-align: middle;
        }
    }

}

.right{
    position: fixed;
    top: 0%;
    left: 40%;
    height: 100%;
    width: 60%;

    // for developing purposes only
    border: 1px solid yellow;

    // .resume{
    //     width: 20%;
    //     border: 1px solid black;
    //     background-color: white;
    //     text-align: center;
    //     border-radius: 25px;

    //     padding: 1%;

    //     a{
    //         color: black;
    //     }

    // }

    // .resume:hover{

    //     border: 1px solid red;
    //     background-color: black;

    //     a{
    //         color: red;
    //     }

    // }

}

@media only screen and (max-width: 700px) {
    body {
        // for developing purposes only
        //background-color: lightblue;
    }
    
    .left{
        position: fixed;
        height: 30%;
        width: 100%;

        .empty{}

        .salute{

            height: 40%;
        }

    }

    .right{
        position: fixed;
        top: 30%;
        left: 0%;

        height: 70%;
        width: 100%;
    }

  }