@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    background: black;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    color: white;
}

.navbar {
    background: black;
    padding: 1em;

    .container {
        display: flex;
        place-content: space-between;

        .logo {
            text-decoration: none;
            font-weight: bold;
            color: white;
            font-size: 3em;

            span {
                color: blueviolet;
            }
        }

        .menuicon {
            cursor: pointer;
            padding-top: .9em;
            
            .menubar {
                background: blueviolet;
                width: 2em;
                height: .4em;
                margin: .3em; 
            }
        }

        nav {
            display: none;
        }
    }
}

section {
    padding: 1em 3em 1em 3em;
}

.intro {

    .container {

        .photo-of-me {

            img {
                width: 100%;
                border: .5em solid blueviolet;
                border-radius: 5em;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .my-quote {
            //border: .1em solid blueviolet;
            width: 100%;
            margin: 0px;
            padding: 0;
            //padding: 1em 4em;
            display: flex;
            place-content: space-between;

            //.block { border: .1em solid green; padding: 1em 4em; }

            .block1{
                //border: .1em solid green;
                padding-top: 1.5em;
                h1 {
                    font-size: 1.5em;
                    //margin: 0;
                    //padding-top: 1.3em;
                }

                //h2 {margin: 0; font-size: 1em; line-height: .1em; }
            }

            //.block2 {border: .1em solid blue;}
        }
    }
}

.about-me{

    background: #140606;
    padding-bottom: 4em;

    .denzel {
        margin-top: 5em;
        text-align: center;

        img {
            width: 100%;
            border-radius: 5em;
            margin-left: auto;
            margin-right: auto;
        }

        p {
            font-size: 1.3em;
        }
    }
}

.education {
    background: #1f153a;
    padding-bottom: 4em;

    img {
        width: 100%;
        border-radius: 5em;
        margin-left: auto;
        margin-right: auto;
    }

    .container{

        h1 {
            font-size: 3em;
            margin: 0;
        }

        .uom{
            margin-top: 4em;
            text-align: center;

        }
    }
}

ul {
    list-style-type: none;
}

.skills {
    background: #101025;
    padding-top: .1em;

    h1 {
        font-size: 4em;
    }

    .graph {
        
        p {
            padding-top: .8em;
        }
    }
}

.software {
    background: #faad07;
    color: brown;

    .container {

        .data-structure{
            width: 100%;
            margin: 0px;
            padding: 0;
            //padding: 1em 4em;
            display: flex;
            place-content: space-between;

            button {
                background: rebeccapurple;
                border: .5em solid blueviolet;
                border-radius: 1em;
                color: white;

            }
        }
    }
}

.spokenlang {
    background: #2e9c65;

    .container {

        .languages {

            .language {
                margin-bottom: 1em;

                .bar {
                    background: gray;
                    width: 100%;
                    height: .4em;
                    margin: 0; 

                    .progressbar1 {
                        background: red;
                        width: 100%;
                        height: .4em;
                        margin: 0;
                    }

                    .progressbar2 {
                        background: yellow;
                        width: 90%;
                        height: .4em;
                        margin: 0;
                    }

                    .progressbar3 {
                        background: blue;
                        width: 10%;
                        height: .4em;
                        margin: 0;
                    }
                }
            }
        }
    }
}

.hobbiessection{
    background: #240fe0;
}